<nav class="reds">
  <a href="/wines">
    <img class="cellarSmall" src='/assets/images/Cellar_logo_white.svg' alt='logo'>
  </a>
  <div class="user">
    {{#if currentUser}}
    <a href="/logout">Logout {{currentUser.local.email}}</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    {{/if}}
  </div>
</nav>

<h2>Edit Wine</h2>

<form class="forms" action="/wines/{{wine.id}}?_method=put" method="post">
  <p>
     <label>Inventory:</label>
    <input type="number" name="inventory" value="{{ wine.inventory }}"/><br>
    <label>Year:</label>
    <input type="number" name="year" value="{{ wine.year }}" /><br>
    <label>Color:</label>   
    <input type="text" name="color" value="{{ wine.color }}" /><br>
    <label>Producer:</label>   
    <input type="text" name="producer" size="50" value="{{ wine.producer }}" /><br>
    <label>Varietal:</label>
    <input type="text" name="varietal" size="50" value="{{ wine.varietal }}" /><br>
    <label>Region:</label>
    <input type="text" name="region" size="50" value="{{ wine.region }}" /><br>
    <label>Website:</label>
    <input type="text" name="url" size="50" value="{{ wine.url }}" /><br>
    <label>Notes/Pairing information:</label><br>
    <textarea type="text" name="description" rows="5" cols="50" value="{{ wine.description }}"></textarea><br>
    
    <input class="edit" type="submit" value="Update">
  </p>
</form>

<form class="forms" action="/wines/{{ wine.id }}?_method=delete" method="post">
  <input class="edit" type="submit" value="Delete">
</form>