<h2>Edit Wine</h2>

<form class="forms" action="/wines/{{wine.id}}?_method=put" method="post">
  <p>
    <label>Year:</label><br>
    <input type="number" name="year" value="{{ wine.year }}" /><br>
    <label>Producer:</label><br>   
    <input type="text" name="producer" value="{{ wine.producer }}" /><br>
    <label>Color:</label><br>   
    <input type="text" name="color" value="{{ wine.color }}" /><br>
    <label>Varietal:</label><br>
    <input type="text" name="varietal" value="{{ wine.varietal }}" /><br>
    <label>Region:</label><br>
    <input type="text" name="region" value="{{ wine.region }}" /><br>
    <label>Website:</label><br>
    <input type="text" name="url" value="{{ wine.url }}" /><br>
    <label>Inventory:</label><br>
    <input type="number" name="capacity" value="{{ wine.inventory }}"/><br>
    <label>Notes/Pairing information:</label><br>
    <input type="text" name="description" value="{{ wine.description }}"/><br>
    
    <input class="edit" type="submit" value="Update">
  </p>
</form>

<form class="forms" action="/wines/{{ wine.id }}?_method=delete" method="post">
  <input class="edit" type="submit" value="Delete">
</form>