<nav class="whites">
  <a href="/wines">
    <img class="cellarSmall" src='/assets/images/Cellar_logo_white.svg' alt='logo'>
  </a>
  <div class="user">
    {{#if currentUser}}
    <a href="/logout">Logout {{currentUser.local.email}}</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    {{/if}}
  </div>
</nav>


<div class="listHeader">
  <img class="grapeLogo" src='/assets/images/WhitesLogo.svg' alt='whites' />
</div>

<div class="add">
<a class="add" href="/wines/new">Add a wine</a>
</div>
{{!-- <a class="add" href="/wines/sorted/reds/alphabetical">Alphabetical sort</a> --}}

<table>
  <thead>
    <th>Year</th>
    <th>Producer</th>
    <th>Varietal</th>
    <th>Inventory</th>
  </thead>

<tbody>
  {{#each wines}}
    <tr>
      <td>{{this.year}}</td> 
      <td><a class="list" href="/wines/whites/{{this.id}}">{{this.producer}}</a></td>
      <td>{{this.varietal}}</td>
      <td>{{this.inventory}}</td>   
    </tr>       
  {{/each}}
</tbody>

</table>
